body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2bbbad;
}

#toggle-delete-btn {
    margin-bottom: 20px;
    background-color: #ff7043;
}

ul {
    list-style: none;
    padding: 0;
}

#haiku-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-wrap: wrap; /* スマートフォン対応 */
}

#haiku-list li img {
    width: 100%; /* 横幅を100%に設定 */
    height: auto; /* 高さを自動調整 */
    margin-bottom: 10px;
    border-radius: 5px;
}

.delete-btn {
    display: none;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.like-btn {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.like-btn:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    #haiku-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    #haiku-list li img {
        width: 100%;
    }
}
