body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background-color: #6b8e23;
  color: white;
  padding: 10px 0;
}

h1 {
  margin: 0;
}

.main-image {
  width: 33%; /* 画像を三分の一に */
  margin: 20px 0;
}

.form-container {
  margin: 20px 0;
}

#haiku-form input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

#haiku-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6b8e23;
  color: white;
  border: none;
  cursor: pointer;
}

#haiku-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  width: 80%;
}

#haiku-list li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.haiku-content {
  font-size: 18px;
}

.haiku-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.haiku-meta button {
  padding: 5px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.haiku-meta button:hover {
  background-color: #c9302c;
}

.meta-item {
  font-size: 14px;
}
